body {
  margin: 0;
}

header {
  position: relative;
}

#btn-calculate {
  position: fixed;
  right: 0;
  top: 350px;
  width: 36px;
  height: 130px;
  color: #3c9fba ;
  font-size: 26px;
  font-weight: 200;
  padding: 20px 10px;
  border: 1px solid #3c9fba;
  z-index: 999;
  line-height: 32px;
  text-align: center;
}

#btn-calculate:hover {
  color: #fff;
  background-color: #3c9fba;
}


#cover-box {
  background: #f3f2f1;
  width: 100%;
  height:770px;
  position: relative;
}

#header-bg {
  height: 75px;
  width: 100%;
  background: url(images/header-bg.png);
}

#header-icon {
  height: 75px;
  width: 424px;
  position: absolute;
  top: 0;
  left: 40px;
  background: url(images/header-logo.png);
}

#header-fb-icon {
  height: 51px;
  width: 51px;
  position: absolute;
  right: 80px;
  top: 13px;
  background: url(images/header-fb-icon.png);
}

#header-ms-icon {
  height: 51px;
  width: 51px;
  position: absolute;
  right: 140px;
  top: 13px;
  background: url(images/header-ms-icon.png);
}

#cover-image {
  background: url(images/1-home.png);
  position: absolute;
  left: 50px;
  top: 250px;
  width: 727px;
  height: 362px;
}

#cover-text {
  position: absolute;
  top: 220px;
  right: 40px;
  width: 550px;

}

#cover-text-title {
  font-size: 75px;
  font-weight: 500;
  color:#0f6687;
  margin: 0 ;
  text-align: center;
}

#cover-text-date {
  font-size: 50px;
  font-weight: 200;
  color:#0f6687;
  margin: 5px 0;
  text-align: center;
}

#cover-text-date div {
  width: 130px;
  height: 25px;
  border-bottom: 1px #0f6687 solid;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  bottom: 18px;
  overflow: hidden;
  display: inline-block;
  margin: 0 8px 0 0;
}

#cover-text-nonstop {
  font-size: 44px;
  font-weight: 400;
  color: #ea535c;
  text-align: center;
  margin: 15px 0;
}

#cover-text-nonstop span {
  color: #eead43;
}

#cover-text-flag {
  background: url(images/1-flag.png);
  margin: 0 auto;
  width: 207px;
  height: 52px;
}

#cover-text-gift {
  font-size: 28px;
  font-weight: 400;
  color: #0f6687;
  text-align: center;
  margin: 15px 0;
}

#cover-text-gift span {
  color: #ea535c;
}

#case-box {
  position: relative;
  height: 700px;
}

#case-detail-box {
  width: 1100px;
  height: 310px;
  margin: 80px auto 20px;
  position: relative;
}

.section-title {
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  width: 261px;
  height: 66px;
  background: url(images/section-title-bg.png);
  text-align: center;
  line-height: 66px;
  margin: auto;
  position: relative;
  top: -33px;
}

.case-type {
  background-color: #c25147;
  color: #fff;
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  z-index: 9;
}

#no-exp-title {
  width: 220px;
  left: 190px;

}

#have-exp-title {
  width: 275px;
  right: 150px;
}

.case-content-bg {
  background-color: #4f9ac1;
  width: 450px;
  height: 200px;
  top: 20px;
  position: absolute;
}

.case-content {
  color: #fff;
  text-align: left;
  font-size: 25px;
  top: 36px;
  position: absolute;
  width: 340px;
}

.case-content div {
  display: inline-block;
  width: 300px;
  line-height: 40px;
  overflow: hidden;
}

.case-content p {
  background: url(images/case-check-icon.png);
  width: 34px;
  height: 28px;
  display: inline-block;
  margin: 3px;

}

#no-exp-content-bg {
  left: 65px;
}

#have-exp-content-bg {
  right: 65px;
}

#no-exp-content {
  left: 120px;
}

#have-exp-content{
  left: 65px;
}

.case-tree {
  background: url(images/case-plant.png);
  width: 113px;
  height: 202px;
  position: absolute;
  top: 107px;
}

#no-exp-tree {
  left: 20px;
}

#have-exp-tree {
  right: 20px;
}

#case-family-image {
  background: url(images/case-family.png);
  width: 668px;
  height: 222px;
  margin: auto;
  position: relative;
}
